*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: open sans;
    font-size: 14px;
}

.section-wrapper{
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

.navbar{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-right{
    border-style: solid;
    border-radius: 20px;
    background-color: #ffffff;
    color: #ff8fd8;
    border-color: #ff8fd8;
    padding: 5px 15px;
}

